<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Quelle est la race de votre toutou 🐕 ?</div>
    <p>
      Utilisez les images de votre <strong>labrador</strong> , <strong>caniche</strong>, <strong>golden retriever</strong>, ou
      de votre chien favori!
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Choix de l'image</button>
      <div class='upload-label'>
        <label id='upload-label'>Aucun fichier choisi</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Image choisie' height='200'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analizer</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
  </div>
</div>
</body>
</html>
